.wrapper{
    width: 100%;
    max-width: 80rem;
    height: 100vh;
}

.wrapper.light-theme {
  background-color: var(--light-bg);
}


.Stat-dashboard {
    width: 80rem;
    margin: 20px 35px;
    color: white;
  }

.wrapper.light-theme .Stat-dashboard{
  background-color: var(--light-bg);
  /* color: var(--dark-light-text); */
}
  
  h1 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #f0f0f0;
  }

  .wrapper.light-theme h1{
    color: var(--light-dark-text);
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100px;
    gap: 20px;
  }
  
  .stat-box {
    background-color:var(--dark-card-bg);
    border-radius: 10px;
    height: 180px;
    padding: 20px;
    text-align: center;
  }

  .wrapper.light-theme .stat-box{
    background-color: var(--light-card-bg);
  }
  
  .stat-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  .wrapper.light-theme .stat-box .stat-header {
    color: var(--light-dark-text);
  }

  
  .stat-value {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align:left ;
  }

  .wrapper.light-theme .stat-box .stat-value{
    color: var(--light-dark-text);
  }
  
  .stat-change {
    margin-top: -10px;
    font-size: 16px;
    text-align: right;
  }
  
  .change-up {
    color: #4caf50;
  }
  
  .change-down {
    color: #f44336;
  }

  .arrowup, .arrowdown{
    height: 8px;
    width: 10px;
    margin-right: 5px;
  }

  .icons-social{
    height: 30px;
    width: 30px;
  }
  
@media (max-width: 1080px) {

  .Stat-dashboard{
    margin-top: 20px;
    align-items:center ;
    justify-content: center;
  }
  .stats-grid{
    grid-template-columns: 1fr 1fr;
    width: 600px;
    gap: 10px;
  }

  .stat-box{
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
  }

  h1{
    font-size: 35px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .stats-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 70%;
    margin-left: 30px;
  }

  h1{
    font-size: 30px;
    text-align: center;
  }

  .wrapper {
    max-width: 100%;
  }

  .Stat-dashboard {
    margin: 20px 0;
    width: 100%;
  }

  .stat-box {
    width: 100%;
  }
}